assertpy==1.1
attrs==21.4.0
cachetools==4.2.4
certifi==2024.7.4
charset-normalizer==2.0.10
google-auth==2.5.0
grpcio==1.53.2
grpcio-tools==1.76.0
idna==3.7
importlib-metadata==4.8.3
iniconfig==1.1.1
packaging==21.3
pluggy==1.0.0
protobuf==4.25.8
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==3.0.7
pytest==7.2.0
requests==2.32.4
rsa==4.8
six==1.15.0
toml==0.10.2
typing-extensions==4.0.1
uologging==0.6.1
urllib3==2.5.0
zipp==3.19.1
